<p>
Hello and welcome to the Halalivery team!
<br />
You should have received an email invitation from <b>Zego</b> for your<br />
pay-as-you-go insurance service we have integrated into the Halalivery<br />
platform.
<br />
<br />
This is <b>mandatory</b> unless you have a preferred insurance provider.<br />
If you have an existing insurance, please send us a copy of your insurance
certificate.<br />
You must have insurance before you can start to work as this is a <b>legal
requirement</b>.
<br />
<br />
If you've missed the email with the link, don't worry here it is:
<a href="{{ zego_url }}" target="_blank">{{ zego_url }}</a>
<br />
<br />
The driver app is available on the 
<a href="https://play.google.com/store/apps/details?id=uk.co.halalivery.driverapp" target="_blank">Google Play</a>
and <a href="https://itunes.apple.com/gb/app/halalivery-rider/id1422509695" target="_blank">App store</a>, please
download it and log in using the following details:
<br />
<b>Username: {{ username }}</b><br />
<b>Password: {{ password }}</b>
<br />
As discussed when you signed your contract, could you confirm that you have
your own delivery equipment (e.g. Delivery bag)?
<br />
<br />
If you do not own a delivery bag, please let us know so we can provide you
with one.
<br />
<br />
If you have any further questions, please do not hesitate to contact our<br />
team at {{ support_email }}, <b>please include your driver id which is: {{ driver_id }} in your email.</b><br />
<br />
Enjoy your ride,<br />
Halalivery Team
</p>