<p>
    Hello and welcome to the Halalivery team!
    <br />
    The driver app is available on the
    <a href="https://play.google.com/store/apps/details?id=uk.co.halalivery.driverapp" target="_blank">Google Play</a>
    and <a href="https://itunes.apple.com/gb/app/halalivery-rider/id1422509695" target="_blank">App store</a>, please download
    it and log in using the following details:
    <br />
    <b>Username: {{ username }}</b><br />
    <b>Password: {{ password }}</b>
    <br /> As discussed when you signed your contract, could you confirm that you have your own delivery equipment (e.g.
    Delivery bag)?
    <br />
    <br /> If you do not own a delivery bag, please let us know so we can provide you with one.
    <br />
    <br /> If you have any further questions, please do not hesitate to contact our<br /> team at {{ support_email }},
    <b>please include your driver id which is: {{ driver_id }} in your email.</b><br />
    <br />
    Enjoy your ride,<br />
    Halalivery Team
</p>